<nav id="menu">
	<ul class="nav main-nav">		
		<li style="border: 2px solid #0bcdd9; padding: 0.25em 7.5px;line-height: 1em;" id="kataCount">9</li>
		{{#foreach navigation}}
		<li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
		{{/foreach}}
	</ul>
</nav>